# Nintendo-copyrighted content and console secrets — NEVER commit these
roms/
keys/
out/
sd-stage/
*.sfc
*.smc
*.nsp
*.nro
prod.keys
title.keys

# OS noise
.DS_Store
.venv/
__pycache__/
tools/
vendor/hacBrewPack/*.o
vendor/hacBrewPack/hacbrewpack
vendor/hacBrewPack/config.mk
vendor/hacBrewPack/mbedtls/library/*.a
